<h1><%= "edit #{@game.title}" %></h1>

<%= form_for :video_game, method: 'patch', url: {action: 'update'} do |f| %>
  <%= label(:video_game, :title) %>
  <%= f.text_field :title, :value => @game.title %>

  <%= label(:video_game, :release_date) %>
  <%= f.text_field :release_date, :value => @game.release_date == nil ? 'TBA' : @game.release_date %>

  <%= label(:video_game, :description) %>
  <%= f.text_area :description, :value => @game.description == '' ? 'TBA' : @game.description %>

  <%= f.submit %>
<% end %>