<h1>add video game</h1>

<%= form_for :video_game, method: 'post', url: {action: 'create'} do |f| %>
  <%= label(:video_game, :title) %>
  <%= f.text_field :title %>

  <%= label(:video_game, :release_date) %>
  <%= f.text_field :release_date %>

  <%= label(:video_game, :description) %>
  <%= f.text_area :description %>

  <%= f.submit %>
<% end %>

<%= @game2 %>