<h1>video game single</h1>

<ul>
  <li><%= "Title: #{@video_game.title}" %></li>
  <li><%= "Platform: #{@video_game.platform.name}" %></li>
  <li><%= "Release Date: #{@video_game.release_date == nil ? 'TBA' : @video_game.release_date}" %></li>
  <li><%= "Description: #{@video_game.description}" %></li>
</ul>

<%= link_to 'edit', edit_platform_video_game_path(@platform, @video_game), {:class => 'edit'} %>
<%= link_to 'delete', platform_video_game_path(@platform, @video_game), {:class => 'delete', method: :delete} %>

<%= link_to "back to #{@platform.name} games", platform_path(params[:platform_id]) %>
<%= link_to 'all platforms', root_path %>