<h1>video game single</h1>

<ul>
  <% @video_game.each do |game| %>
    <li><%= "Title: #{game.title}" %></li>
    <li><%= "Platform: #{game.platform.name}" %></li>
    <li><%= "Release Date: #{game.release_date == nil ? 'TBA' : game.release_date}" %></li>
    <li><%= "Description: #{game.description}" %></li>
  <% end %>
</ul>

<%= link_to "back to #{@platform.name} games", platform_path(params[:platform_id]) %>
<%= link_to 'all platforms', root_path %>