<div class="<%= "#{@platform.name}-games" %>">

  <h1><%= @platform.name %> games</h1>

  <ul>
    <% @video_games.each do |game| %>
      <li>
        <%= link_to game.title, platform_video_game_path(@platform, game) %>
      </li>
    <% end %>
  </ul>

</div>

<%= link_to 'add video game', new_platform_video_game_path(params[:id]) %>

<%= link_to 'all platforms', root_path %>